.SobreMi-main{
    color: #fff;
    text-align: center;
    background-color: #ffb6b9b0;
    height: 100vh; 
}

.SobreMi-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
}

.SobreMi-title{
    padding-top: 2%;
}

.SobreMi-card__body{
    text-align: center;
}

.SobreMi-card{
    width: 70%;
    margin: auto;
}

.SobreMi-card__body{
    padding:6% 6% 6% 6%;
    font-size:x-large;
    align-items: center;
    text-align: justify;
    justify-content:space-around;
    display: flex
}

.SobreMi-card__text{
    color: black;
    font-family: 'Lora', serif;;
    text-shadow: none;
    font-size: larger;
}

